p {
	margin: $paragraph_margin;

	@media (max-width: 599px) {
		margin-bottom: 12px;
	}
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
a {
	color: $font;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $basefont;
	font-weight: $headings_font_weight;
	// color: $headings_color;
	margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;	
}

h1, .h1 {
	@include fz($h1);
	margin-top: 0;
	line-height: 1.15;

	@media (max-width: 960px) {
		@include fz(42);
	}

	@media (max-width: 599px) {
		@include fz(32);
	}

	@media (max-width: 480px) {
		@include fz(28);
	}
}
h2, .h2, .ui-h2 {
	@include fz($h2);
	line-height: 1.2;	
}
h3, .h3, .ui-h3 {
	@include fz($h3);
	line-height: 1.2;	
}
h4, .h4, .ui-h4 {
	@include fz($h4);

	@media (max-width: 599px) {
		@include fz(22);
	}
}
h5, .h5 {
	@include fz($h5);
}
h6, .h6, .ui-h5 {
	@include fz($h6);
	text-transform: none;
	font-weight: 700;

	@media (max-width: 599px) {
		@include fz(16);
	}
}
.ui-font-midi {
	@include fz(16);
}
.ui-font-mini {
	@include fz(14);
}
.h20 {
	@include fz(20);
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {	
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}

.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
/*---- ICONS ---- */

::selection {
	background: $title;
	color: #FFF;
}
::-moz-selection {
	background: $bgc;
	color: #FFF;	
}
// @media (min-width: 992px) {
// 	::-webkit-scrollbar {
// 		width: 8px;
// 		height: 8px;		
// 	}
// 	::-webkit-scrollbar-thumb {
// 		width: 8px;
// 		height: 8px;
// 		background-color: $primary;
// 	}
// 	::-webkit-scrollbar-thumb:hover {
// 		background: lighten($primary, 8%);
// 	}
// }

html:not(.vi) {
	@media (min-width: 992px) {
		::-webkit-scrollbar {
			width: 8px;
			height: 8px;		
		}
		::-webkit-scrollbar-thumb {
			width: 8px;
			height: 8px;
			background-color: $primary;
		}
		::-webkit-scrollbar-thumb:hover {
			background: lighten($primary, 8%);
		}
	}
}

.ui-centered {
	text-align: center;
}

.ui-link {
	color: $link;
	text-decoration-line: underline;
}

.page-title {
	font-weight: 500;	
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 44px;
}

.ui-more {
	margin-bottom: 60px;

	&-title {
		display: inline-block;
		font-weight: 500;
		text-transform: uppercase;
		margin-right: 16px;
		margin-bottom: 0;
	}

	&-link {
		display: inline-block;
      	text-transform: uppercase;
      	transition: color 0.3s; 
     
      	a {
			border-bottom: 1px solid $font;
			margin-left: 4px;
			transition: border-color 0.3s, color 0.3s;
      	}

		&:hover {
			color: $link;

			a {
			border-color: $link;
			color: $link;
			}
		}
	}
}

.ui-tabs {
	margin-bottom: 90px;
	font-size: 0;

	&__min {
		margin-bottom: 54px;
	}
}

.ui-tab {
	display: inline-block;
	vertical-align: middle;	
	background-color: $bgc;
	margin-right: 10px;	
	cursor: pointer;	
	color: #1F2839;
	@include fz(20);
	font-weight: 500;	
	height: 35px;
	line-height: 35px;
	// min-height: 35px;	
	text-transform: uppercase;
	border-radius: 24px;
	border: 1px solid $font-light;	
	padding-left: 16px;
	padding-right: 16px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	margin-bottom: 10px;

	&.active {
		background-color: $primary;
		color: $bgc;
		border-color: $primary;

		.ui-tab-icon {
			stroke: $bgc;
		}
	}

	&:hover {
		border-color: $primary;
		color: $primary;
		background-color: $bgc;
	}

	&-icon {
		fill: none;
		width: 24px;
		height: 24px;
		stroke: $primary;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		margin-right: 5px;
		stroke-width: 2px;
		margin-top: -4px;
	}

	&__min {
		@include fz(16);
		@include ls(-0.1);	
		font-weight: 400;
		text-transform: unset;
		height: 40px;
		line-height: 38px;
		background-color: $bg-blue-light;
		border-color: $bg-blue-light;
		padding-left: 24px;
		padding-right: 24px;
	}
}

.ui-tabs-wrapper {
	display: none;

	&.active {
		display: block;
	}
}



.ui-btn {
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	font-weight: 500;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	&-transparent {
		background-color: $bgc;		
		border-radius: 24px;
		border: 1px solid $primary;
		color: $primary;
		height: 30px;
		line-height: 28px;
		padding-left: 12px;
		padding-right: 12px;
		@include fz(17);

		&:hover {
			background-color: $primary;
			color: $bgc;
		}
	}

	&-main {
		padding-left: 40px;
		padding-right: 40px;
		@include fz(20);
		height: 64px;
		line-height: 64px;		
		border-radius: 40px;
		flex-shrink: 0;		
	}

	&-white {
		background-color: $bgc;

		&:hover {
			color: $primary;
		}
	}

	&-primary {
		background-color: $primary;
		color: $font-white;
		border: 1px solid $primary;

		&:hover {
			color: $primary;
			background-color: $bgc;		
		}
	}

	&-youtube {
		display: inline-block;
		white-space: nowrap;
		background-color: $youtube;
		border-radius: 40px;
		padding-left: 40px;
		padding-right: 40px;
		color: $font-white;
		@include fz(20);		
		font-weight: 500;
		height: 64px;
		line-height: 62px;		
		text-transform: uppercase;		

		.icon {
			width: 26px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			margin-right: 18px;
		}

		span {
			vertical-align: middle;
		}
	}

	&-play {
		position: relative;
		width: 80px;
		height: 80px;
		background-color: $bgc;
		border-radius: 50%;

		.icon {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			fill: $primary;
			transition: fill 0.3s;
		}
	}
}

.ui-field {
	position: relative;
	margin-bottom: 34px;	

	label.error {
		position: absolute;
		bottom: -20px;		
		top: 100%;
		left: 0;
		color: $error;
		@include fz(12);		
		width: max-content;		
	}

	.jq-selectbox__trigger-arrow {
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
	}
}

.ui-label {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	@include fz(14);
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;	

	&-required {
		@include fz(20);
		color: $primary;
	}
}

.ui-input {	
	border: none;
	border-bottom: 1px solid $input_border;
	// padding-top: 38px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	@include fz(20);	
	outline: none;	
	width: 100%;
	margin-top: 34px;

	&::placeholder {
		color: $font-light;		
	}

	&-file {
		display: none;
	}

	&.error {
		border-color: $error;
	}

	&.valid {
		border-color: $primary;
	}
}

.ui-textarea {
	border: none;
	border-bottom: 1px solid $input_border;
	margin-top: 34px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	@include fz(20);	
	outline: none;
	width: 100%;
	resize: none;	
	height: 160px;

	&::placeholder {
		color: $font-light;	
	}

	-ms-overflow-style: none;  
	scrollbar-width: none;
	&::-webkit-scrollbar {    
	  display: none;
	}
}

.pagination {
	display: flex;	
	column-gap: 40px;
	margin-bottom: 66px;

	&-nav {
		position: relative;
		display: block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid $border;
		transition: 0.3s border-color;
		
		&:hover {			
			border-color: $font-dark-blue;
		}	

		&-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 24px;
			height: 24px;
			filter: brightness(0.2) saturate(21.5);			

			&__prev {				
				transform: translate(-50%, -50%) rotate(-180deg);

			}
		}
		
	}	

	&-list {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	&-item {

		&-link {
			text-align: center;
			@include fz(20);
			display: inline-block;
			width: 48px;
			height: 48px;
			line-height: 46px;
			border-radius: 50%;
			border: 1px solid $border;
			transition: 0.3s border-color, 0.3s color, 0.3s background-color;
			color: $font-light !important;

			&.active {
				background-color: $primary;
				color: $bgc !important;
				border-color: $primary;
			}

			&:hover {
				background-color: $bgc;
				color: $font-dark-blue !important;
				border-color: $font-dark-blue;
			}
		}
	}
}

.ui-select {
	cursor: pointer;
	transition: filter 0.3s;

	&:hover {
		.jq-selectbox__trigger-arrow {
			background-image: url(../images/svg/icon-chevron-down_blue.svg);
		}

		.jq-selectbox__select-text {
			color: $link;
		}
	}

	&.opened {
		.jq-selectbox__trigger-arrow {
			background-image: url(../images/svg/icon-chevron-down_blue.svg);
		}

		.jq-selectbox__select-text {
			color: $link;
		}

		.jq-selectbox__trigger-arrow {
			transform: rotate(180deg);
		}		
	}

	&__form {
		position: relative;
		border-bottom: 1px solid $input_border;
		width: 100%;
		@include fz(20);		

		.jq-selectbox__select {
			position: relative;
			padding-top: 33px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
			overflow: hidden;
			&-text {
				color: $font-light;
				display: block;
				line-height: 1.2;				
			}
		}

		.jq-selectbox__trigger {
			position: absolute;
			right: 20px;
			top: 50%;			
		}
		
		&.changed {
			.jq-selectbox__select {
				&-text {
					color: $font;
				}
			}
		}		
	}

	&__lang {
		// position: unset;
		.jq-selectbox__dropdown {			
			z-index: 1;
			left: -8px;
			top: 100% !important;
			ul {			
				background-color: $primary;
				margin-top: 10px;
				border-radius: 5px;
				li {
					color: $font-blue-light;
					padding: 10px;
					width: 80px;
					&:hover {
						color: $font-white;
						opacity: 1;
					}
					&:not(:last-child) {
						border-bottom: 1px solid $font-blue-light;
					}
					&.selected {
						color: $font-white;
					}
				}
			}	
		}
		// .jq-selectbox__select-text {
		// 	width: 40px !important;
		// }
		
	}
}
.jq-selectbox__select-text {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
	transition: color 0.3s;
}

.jq-selectbox__trigger {
	display: inline-block;
	vertical-align: middle;
	transition: filter 0.3s;
}

.jq-selectbox__trigger-arrow {
	background-image: url(../images/svg/icon-chevron-down.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	transition: transform 0.3s, background-image 0.3s;
}

.jq-selectbox__dropdown {
	background-color: $bgc;	
	left: 0;
	border-radius: 5px;	
	box-shadow: -4px 2px 8.7px 0px rgba(36, 64, 130, 0.06);
	overflow-y: auto;
}

.jq-selectbox li {
	transition: color 0.3s;
	padding: 10px 20px;
	white-space: inherit;

	&:not(:last-child) {
		border-bottom: 1px solid $border;
	}

	&:hover {
		color: $link;
	}

	&.disabled {
		color: $font-light;
		cursor: not-allowed;
	}
}

.breadcrumbs {
	margin-bottom: 40px;
	li {
		display: inline-block;
		margin-right: 34px;
		position: relative;
		@include fz(14);

		a {
			transition: color 0.3s;
			
			&:hover {
				color: $link;
			}
		}

		&:not(:last-child) {
			&::after {
				position: absolute;
				top: 50%;
				right: -20px;
				transform: translate(50%, -50%);
				content: '';
				background-image: url(../images/svg/icon-chevron-right.svg);
				width: 18px;
				height: 18px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 18px 18px;				
			}
		}

		&:last-child {			
			color: $font-light;	
		}
		
	}
}

.ui-poor-vision {
	filter: grayscale(1);
}

.search-field {
	border-bottom: 1px solid $bgc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 14px;
}

.search-input {
	border: none;
	background: transparent;
	outline: none;
	flex-grow: 1;
	padding-left: 20px;
	padding-right: 20px;
	color: $font-white;
	@include fz(18);

	&::placeholder {
		color: $font-white;
		opacity: 0.7;
		@include fz(18);
	}
}

.search-btn {
	@include fz(17);
	font-weight: 500;	
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: $bgc;
	border-radius: 24px;
	transition: color 0.3s;

	&:hover {
		color: $primary;
	}
}

.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.select-block {
	width: 100%;
	position: relative;
	// border: 1px solid $border;
	// border-radius: 20px;
	// padding: 40px;

	.ui-select {
		border: 1px solid $border_grey;
		border-radius: 20px;
		// padding: 40px;
		width: 100%;
		min-height: 125px;
	}

	.jq-selectbox {
		width: 100%;
		height: 100%;	
	}

	.jq-selectbox__select {		
		width: 100%;
		height: 100%;
		padding: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	
}

.select-search {
	.select-block {
		height: calc(100% - 60px);
		margin-bottom: 60px;
	}
}

.socials {
	&-list {
		font-size: 0;
		white-space: nowrap;
	}

	&-item {
		position: relative;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid $border;
		display: inline-block;
		background-color: $bgc;
		cursor: pointer;
		transition: background-color 0.3s;
  
		&:not(:last-child) {
		  margin-right: 20px;
		}
  
		&:hover {
		  background-color: $primary;
  
		  .socials-icon {
			fill: $bgc;
		  }
		}
	  }    
  
	&-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 26px;
		height: 26px;
		fill: $primary;
		transition: fill 0.3s;		
	}
}
