p {
	margin: $paragraph_margin;

	@media (max-width: 599px) {
		margin-bottom: 12px;
	}
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
a {
	color: $font;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $basefont;
	font-weight: $headings_font_weight;
	// color: $headings_color;
	margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;	
}

h1, .h1 {
	@include fz($h1);
	margin-top: 0;
	line-height: 1.15;

	@media(max-width: 1366px) {
		@include fz(72);
	}

	@media(max-width: 1140px) {
		@include fz(64);
	}

	@media (max-width: 960px) {
		@include fz(42);
	}

	@media (max-width: 599px) {
		@include fz(32);
	}

	@media (max-width: 480px) {
		@include fz(28);
	}
}
h2, .h2, .ui-h2 {
	@include fz($h2);
	line-height: 1.2;

	@media(max-width: 1366px) {
		@include fz(46);
	}

	@media(max-width: 1140px) {
		@include fz(42);
	}
}
h3, .h3, .ui-h3 {
	@include fz($h3);
	line-height: 1.2;

	@media(max-width: 1366px) {
		@include fz(32);
	}

	@media(max-width: 1140px) {
		@include fz(28);
	}

	@media(max-width: 480px) {
		@include fz(24);
	}
}
h4, .h4, .ui-h4 {
	@include fz($h4);

	@media (max-width: 599px) {
		@include fz(22);
	}
}
h5, .h5 {
	@include fz($h5);

	@media(max-width: 1366px) {
		@include fz(18);
	}

	@media(max-width: 1140px) {
		@include fz(16);
	}
}
h6, .h6, .ui-h5 {
	@include fz($h6);
	text-transform: none;
	font-weight: 700;

	@media (max-width: 599px) {
		@include fz(16);
	}
}
.ui-font-midi {
	@include fz(16);
}
.ui-font-mini {
	@include fz(14);
}
.h20 {
	@include fz(20);
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {	
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}

.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
/*---- ICONS ---- */

::selection {
	background: $title;
	color: #FFF;
}
::-moz-selection {
	background: $bgc;
	color: #FFF;	
}
// @media (min-width: 992px) {
// 	::-webkit-scrollbar {
// 		width: 8px;
// 		height: 8px;		
// 	}
// 	::-webkit-scrollbar-thumb {
// 		width: 8px;
// 		height: 8px;
// 		background-color: $primary;
// 	}
// 	::-webkit-scrollbar-thumb:hover {
// 		background: lighten($primary, 8%);
// 	}
// }

html:not(.vi) {
	@media (min-width: 992px) {
		::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: $border;		
		}
		::-webkit-scrollbar-thumb {
			width: 8px;
			height: 8px;
			background-color: $primary;
		}
		::-webkit-scrollbar-thumb:hover {
			background: lighten($primary, 8%);
		}
	}
}

.ui-centered {
	text-align: center;
}

.ui-link {
	color: $link;
	text-decoration-line: underline;
}

.page-title {
	font-weight: 500;	
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 44px;
}

.ui-more {
	margin-bottom: 60px;

	@media(max-width: 1366px) {
		margin-bottom: 40px;
	}

	@media(max-width: 480px) {
		margin-bottom: 32px;
	}

	&-title {
		display: inline-block;
		font-weight: 500;
		text-transform: uppercase;
		margin-right: 16px;
		margin-bottom: 0;

		@media(max-width: 480px) {
			margin-right: 4px;
			vertical-align: sub;
		}
	}

	&-link {
		display: inline-block;
      	text-transform: uppercase;
      	transition: color 0.3s;

		  @media(max-width: 1366px) {
			@include fz(14);
		  }

		  @media(max-width: 480px) {
			@include fz(13);
		  }
     
      	a {
			border-bottom: 1px solid $font;
			margin-left: 4px;
			transition: border-color 0.3s, color 0.3s;
      	}

		&:hover {
			color: $link;

			a {
			border-color: $link;
			color: $link;
			}
		}
	}
}

.ui-tabs {
	margin-bottom: 110px;
	font-size: 0;

	&__margin {
		margin-bottom: 34px;
	}

	@media(max-width: 1280px) {
		margin-bottom: 80px;
	}

	&__min {
		margin-bottom: 54px;

		@media(max-width: 768px) {
			margin-bottom: 28px;
		}

		@media(max-width: 480px) {
			margin-bottom: 20px;
		}
	}
}

.ui-tab {
	display: inline-block;
	vertical-align: middle;	
	background-color: $bgc;
	margin-right: 10px;	
	cursor: pointer;	
	color: #1F2839;
	@include fz(20);
	font-weight: 500;
	padding-top: 4px;
	padding-bottom: 4px;
	text-transform: uppercase;
	border-radius: 24px;
	border: 1px solid $font-light;	
	padding-left: 16px;
	padding-right: 16px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	margin-bottom: 10px;

	@media(max-width: 1280px) {
		@include fz(18);
		padding-top: 2px;
		padding-bottom: 2px;
	}

	@media(max-width: 960px) {
		@include fz(14);
		padding-top: 4px;
		padding-bottom: 4px;
	}

	&.active {
		background-color: $primary;
		color: $bgc;
		border-color: $primary;

		.ui-tab-icon {
			stroke: $bgc;
		}
	}

	&:hover {
		border-color: $primary;
		color: $primary;
		background-color: $bgc;
	}

	&-icon {
		fill: none;
		width: 24px;
		height: 24px;
		stroke: $primary;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		margin-right: 5px;
		stroke-width: 2px;
		margin-top: -4px;
	}

	&__min {
		@include fz(16);
		@include ls(-0.1);	
		font-weight: 400;
		text-transform: unset;
		background-color: $bg-blue-light;
		border-color: $bg-blue-light;
		padding-left: 24px;
		padding-right: 24px;
		padding-top: 8px;
		padding-bottom: 8px;

		@media(max-width: 1140px) {
			@include fz(14);
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 6px;
			padding-bottom: 6px;
		}

		@media(max-width: 960px) {
			@include fz(16);
			padding-top: 8px;
			padding-bottom: 8px;
		}

		@media(max-width: 480px) {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}

.ui-tabs-wrapper {
	display: none;

	&.active {
		display: block;
	}
}



.ui-btn {
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	font-weight: 500;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	&-icon {
		width: 17px;
		height: 17px;
		fill: $font-white;
		margin-left: 18px;
		transition: fill 0.3s, transform 0.3s;

		@media(max-width: 480px) {
			margin-left: 8px;
		}

		&.open {
			transform: rotate(180deg);
		}

		&__big {
			width: 24px;
			height: 24px;		
			display: inline-block;
			vertical-align: middle;
		}
	}

	&-transparent {
		background-color: transparent;		
		border-radius: 24px;
		border: 1px solid $primary;
		color: $primary;
		// height: 30px;
		// line-height: 28px;
		display: inline;
		width: max-content;
		padding-top: 4px;
		padding-bottom: 4px;		
		padding-left: 12px;
		padding-right: 12px;
		@include fz(17);

		@media(max-width: 1366px) {
			@include fz(16);
			padding-top: 2px;
			padding-bottom: 2px;	
			padding-left: 10px;
			padding-right: 10px;
		  }

		&:hover {
			background-color: $primary;
			color: $bgc;
		}
	}

	&-transparent-white {
		background-color: transparent;		
		border-radius: 41px;
		border: 1px solid $bgc;
		color: $font-white;		

		&:hover {
			background-color: $bgc;
			color: $primary;

			.ui-btn-icon {
				fill: $primary;
			}
		}
	}

	&-main {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 17px;
		padding-bottom: 17px;
		@include fz(20);
		// height: 64px;
		// line-height: 64px;		
		border-radius: 40px;
		flex-shrink: 0;

		@media(max-width: 1366px) {
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 14px;
			padding-bottom: 14px;
			@include fz(18);
		}

		@media(max-width: 1140px) {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			@include fz(16);
		}

		@media(max-width: 960px) {
			padding-top: 17px;
			padding-bottom: 17px;
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	&-small {
		padding-left: 34px;
		padding-right: 34px;
		padding-top: 12px;
		padding-bottom: 12px;
		@include fz(16);

		.ui-btn-icon {
			margin-left: 6px;
			width: 12px;
			height: 12px;
		}
	}

	&-little {
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		padding-bottom: 6px;
		line-height: 1;
		@include fz(17);
	}

	&-big {
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 26px;
		padding-bottom: 26px;
		@include fz(20);

		@media(max-width: 480px) {
			@include fz(14);
			padding-left: 42px;
			padding-right: 42px;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.ui-btn-icon {
			width: 17px;
			height: 17px;

			@media(max-width: 480px) {
				width: 12px;
				height: 12px;
			}
		}
	}

	&-white {
		background-color: $bgc;

		&:hover {
			color: $primary;
		}
	}

	&-primary {
		background-color: $primary;
		color: $font-white;
		border: 1px solid $primary;

		&:hover {
			color: $primary;
			background-color: $bgc;

			.ui-btn-icon {
				fill: $primary;
			}
		}
	}

	&-youtube {
		display: inline-block;
		white-space: nowrap;
		background-color: $youtube;
		border-radius: 40px;
		padding-left: 40px;
		padding-right: 40px;
		color: $font-white;
		@include fz(20);		
		font-weight: 500;
		// height: 64px;
		// line-height: 62px;		
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;

		@media(max-width: 1680px) {
			@include fz(18);
			padding-left: 34px;
			padding-right: 34px;
			padding-top: 16px;
			padding-bottom: 16px;
		}

		.icon {
			width: 26px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			margin-right: 18px;
			fill: $youtube-play;
			transition: fill 0.3s;

			@media(max-width: 1680px) {
				width: 24px;
				height: 18px;		
				margin-right: 14px;
			}
		}

		span {
			vertical-align: middle;
		}

		&:hover {
			background-color: $primary;

			.icon {
				fill: $primary;
			}
		}
	}

	&-play {
		position: relative;
		width: 80px;
		height: 80px;
		background-color: $bgc;
		border-radius: 50%;

		.icon {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			fill: $primary;
			transition: fill 0.3s;
		}
	}
}

.ui-field {
	position: relative;
	margin-bottom: 34px;	

	label.error {
		position: absolute;
		bottom: -20px;		
		top: 100%;
		left: 0;
		color: $error;
		@include fz(12);		
		width: max-content;		
	}

	.jq-selectbox__trigger-arrow {
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
	}
}

.ui-label {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	@include fz(14);
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;	

	&-required {
		@include fz(20);
		color: $primary;
	}
}

.ui-input {	
	border: none;
	border-bottom: 1px solid $input_border;
	// padding-top: 38px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	@include fz(20);	
	outline: none;	
	width: 100%;
	margin-top: 34px;
	background-color: transparent;

	&::placeholder {
		color: $font-light;		
	}

	&-file {
		display: none;
	}

	&.error {
		border-color: $error;
	}

	&.valid {
		border-color: $primary;
	}
}

.ui-textarea {
	border: none;
	border-bottom: 1px solid $input_border;
	margin-top: 34px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	@include fz(20);	
	outline: none;
	width: 100%;
	resize: none;	
	height: 160px;
	background-color: transparent;

	&::placeholder {
		color: $font-light;	
	}

	-ms-overflow-style: none;  
	scrollbar-width: none;
	&::-webkit-scrollbar {    
	  display: none;
	}
}

.pagination {
	display: flex;	
	column-gap: 40px;
	margin-bottom: 66px;

	@media(max-width: 1366px) {
		column-gap: 32px;
		margin-bottom: 42px;
	}

	@media(max-width: 599px) {
		column-gap: 16px;
	}

	@media(max-width: 488px) {
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 16px;
	}

	&-nav {
		position: relative;
		display: block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid $border;
		transition: 0.3s border-color;

		@media(max-width: 1366px) {
			width: 42px;
			height: 42px;			
		}

		@media(max-width: 599px) {
			width: 36px;
			height: 36px;
		}
		
		&:hover {			
			border-color: $font-dark-blue;
		}

		&-next {
			@media(max-width: 488px) {
				order: 1;
			}
		}

		&-prev {			
			@media(max-width: 488px) {
				order: 1;
			}
		}

		&-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 24px;
			height: 24px;
			// filter: brightness(0.2) saturate(21.5);
			fill: $font;

			@media(max-width: 1366px) {
				width: 20px;
				height: 20px;			
			}

			@media(max-width: 599px) {
				width: 18px;
				height: 18px;
			}			

			&__prev {				
				transform: translate(-50%, -50%) rotate(-180deg);				
			}
		}
		
	}	

	&-list {
		display: flex;
		align-items: center;
		column-gap: 20px;

		@media(max-width: 1366px) {
			column-gap: 16px;
		}

		@media(max-width: 599px) {
			column-gap: 8px;
		}

		@media(max-width: 488px) {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}

	&-item {

		&-link {
			// text-align: center;
			@include fz(20);
			// display: inline-block;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			// line-height: 46px;
			border-radius: 50%;
			border: 1px solid $border;
			transition: 0.3s border-color, 0.3s color, 0.3s background-color;
			color: $font-light !important;

			@media(max-width: 1366px) {
				width: 42px;
				height: 42px;
				@include fz(18);
			}

			@media(max-width: 599px) {
				width: 36px;
				height: 36px;
				@include fz(14);
			}

			&.active {
				background-color: $primary;
				color: $bgc !important;
				border-color: $primary;
			}

			&:hover {
				background-color: $bgc;
				color: $font-dark-blue !important;
				border-color: $font-dark-blue;
			}
		}
	}
}

.ui-select {
	cursor: pointer;
	transition: filter 0.3s;

	&:hover {
		.jq-selectbox__trigger-arrow {
			background-image: url(../images/svg/icon-chevron-down_blue.svg);
		}

		.jq-selectbox__select-text {
			color: $link;
		}
	}

	&.opened {
		.jq-selectbox__trigger-arrow {
			background-image: url(../images/svg/icon-chevron-down_blue.svg);
		}

		.jq-selectbox__select-text {
			color: $link;
		}

		.jq-selectbox__trigger-arrow {
			transform: rotate(180deg);
		}		
	}
	
	.jq-selectbox__trigger {
		display: inline-block;
		vertical-align: middle;
		transition: filter 0.3s;
	}
	
	.jq-selectbox__trigger-arrow {
		background-image: url(../images/svg/icon-chevron-down.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		transition: transform 0.3s, background-image 0.3s;
	
		@media(max-width: 1366px) {
			width: 18px;
			height: 18px;
			background-size: 18px 18px;
		}
	}
	
	.jq-selectbox__dropdown {
		background-color: $bgc;	
		left: 0;
		border-radius: 5px;	
		box-shadow: -4px 2px 8.7px 0px rgba(36, 64, 130, 0.06);
		overflow-y: auto;
	}
	
	.jq-selectbox li {
		transition: color 0.3s;
		padding: 10px 20px;
		white-space: inherit;
	
		&:not(:last-child) {
			border-bottom: 1px solid $border;
		}
	
		&:hover {
			color: $link;
		}
	
		&.disabled {
			color: $font-light;
			cursor: not-allowed;
		}
	}

	&__form {
		position: relative;
		border-bottom: 1px solid $input_border;
		width: 100%;
		@include fz(20);		

		.jq-selectbox__select {
			position: relative;
			padding-top: 33px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
			overflow: hidden;
			&-text {
				color: $font-light;
				display: block;
				line-height: 1.2;				
			}
		}

		.jq-selectbox__trigger {
			position: absolute;
			right: 20px;
			top: 50%;			
		}
		
		&.changed {
			.jq-selectbox__select {
				&-text {
					color: $font;
				}
			}
		}
		
		.jq-selectbox__dropdown {
			border: 1px solid $border;
			width: 100% !important;
			border-radius: 10px !important;
			padding-left: 20px;
			padding-right: 20px;			

			ul {
				overflow-y: auto;
				max-height: 365px !important;	
				margin-top: 40px;
				margin-bottom: 40px;
			}

			li {
				white-space: normal;
				&:not(:last-child) {
					margin-bottom: 28px;
				}
				&:first-child {
					padding-top: 0;
				}
			
				&:last-child {
					padding-bottom: 0;
				}

				&:hover {
					color: $link;
				}

				&.disabled {
					color: $font-light;
					cursor: not-allowed;
				}
			}
		}

		.jq-selectbox__select-text {
			padding-right: 10px;		
		}
	}

	&__lang {
		// position: unset;
		.jq-selectbox__dropdown {			
			z-index: 1;
			left: -8px;
			top: 100% !important;
			border: none !important;
			border-radius: unset !important;
			padding: unset !important;
			ul {			
				background-color: $primary;
				margin-top: 10px;
				border-radius: 5px;
				li {
					color: $font-blue-light;
					padding: 10px;
					width: 80px;
					&:hover {
						color: $font-white;
						opacity: 1;
					}
					&:not(:last-child) {
						border-bottom: 1px solid $font-blue-light;
					}
					&.selected {
						color: $font-white;
					}
				}
			}	
		}
		
		.jq-selectbox__select-text {
			display: inline-block;
			vertical-align: middle;
			padding-right: 10px;
			transition: color 0.3s;
			width: max-content !important;
			min-width: 40px;
		}
	}

	&__big {		
		.jq-selectbox__dropdown {
			border: 1px solid $border;
			width: 100%;
			border-radius: 20px;
			padding-left: 20px;
			padding-right: 20px;
			top: calc(100% + 12px) !important;

			@media(max-width: 1140px) {
				border-radius: 16px;
			}

			@media(max-width: 488px) {
				padding-left: 6px;
				padding-right: 6px;
				border-radius: 8px;
			}

			ul {
				overflow-y: auto;
				max-height: 400px !important;	
				margin-top: 40px;
				margin-bottom: 40px;
				padding-left: 20px;
				padding-right: 20px;
				
				@media(max-width: 488px) {
					margin-top: 20px;
					margin-bottom: 20px;					
					padding-left: 6px;
					padding-right: 6px;
				}
			}

			li {
				white-space: normal;
				&:not(:last-child) {
					margin-bottom: 28px;
				}
				&:first-child {
					padding-top: 0;
				}
			
				&:last-child {
					padding-bottom: 0;
				}

				&:hover {
					color: $link;
				}
			}
		}
	}
}


.breadcrumbs {
	margin-bottom: 40px;

	@media(max-width: 960px) {
		display: none;
	}

	li {
		display: inline-block;
		margin-right: 34px;
		position: relative;
		@include fz(14);

		a {
			transition: color 0.3s;
			
			&:hover {
				color: $link;
			}
		}

		&:not(:last-child) {
			&::after {
				position: absolute;
				top: 50%;
				right: -20px;
				transform: translate(50%, -50%);
				content: '';
				background-image: url(../images/svg/icon-chevron-right_grey.svg);
				width: 18px;
				height: 18px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 18px 18px;				
			}
		}

		&:last-child {			
			color: $font-light;	
		}
		
	}
}

.ui-poor-vision {
	filter: grayscale(1);
}

.search-field {
	border-bottom: 1px solid $bgc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 14px;

	@media(max-width: 1366px) {
		padding-bottom: 10px;
	}

	@media(max-width: 488px) {
		padding-bottom: 6px;
	}
}

.search-input {
	border: none;
	background: transparent;
	outline: none;
	flex-grow: 1;
	padding-left: 20px;
	padding-right: 20px;
	color: $font-white;
	@include fz(18);

	@media(max-width: 1366px) {
        @include fz(16);
		padding-left: 18px;
		padding-right: 18px;
    }

	@media(max-width: 1140px) {
        @include fz(14);
		padding-left: 14px;
		padding-right: 14px;
    }

	@media(max-width: 960px) {
		@include fz(16);
	}

	@media(max-width: 599px) {
		@include fz(13);		
	}

	@media(max-width: 488px) {
		padding-left: 8px;
		padding-right: 8px;
	}

	&::placeholder {
		color: $font-white;
		opacity: 0.7;
		@include fz(18);

		@media(max-width: 1366px) {
			@include fz(16);			
		}
	
		@media(max-width: 1140px) {
			@include fz(14);			
		}

		@media(max-width: 960px) {
			@include fz(16);
		}
	
		@media(max-width: 599px) {
			@include fz(13);		
		}
	}
}

.search-btn {
	@include fz(17);
	font-weight: 500;	
	text-transform: uppercase;
	// height: 30px;
	// line-height: 30px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 1;
	background-color: $bgc;
	border: 1px solid $font-white;
	border-radius: 24px;
	transition: color 0.3s, border-color 0.3s, background-color 0.3s;

	@media(max-width: 1366px) {
		@include fz(15);
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	@media(max-width: 488px) {
		@include fz(10);
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	&:hover {
		color: $font-white !important;		
		background-color: transparent;
	}
}

.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.select-block {
	width: 100%;
	position: relative;
	// border: 1px solid $border;
	// border-radius: 20px;
	// padding: 40px;

	.ui-select {
		border: 1px solid $border_grey;
		border-radius: 20px;
		// padding: 40px;
		width: 100%;
		// min-height: 125px;

		@media(max-width: 1140px) {
			border-radius: 16px;
		}

		@media(max-width: 488px) {
			border-radius: 8px;
		}
	}

	.jq-selectbox {
		width: 100%;
		height: 100%;	
	}

	.jq-selectbox__select {			
		width: 100%;
		height: 100%;
		padding: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media(max-width: 1140px) {
			padding: 30px;
		}

		@media(max-width: 960px) {
			padding: 25px 40px;
		}

		@media(max-width: 488px) {
			padding: 22px 16px;
		}
	}	
}

.select-search {
	.select-block {
		height: calc(100% - 60px);
		margin-bottom: 60px;

		@media(max-width: 1140px) {
			height: calc(100% - 40px);
			margin-bottom: 40px;
		}

		@media(max-width: 960px) {
			height: calc(100% - 20px);
			margin-bottom: 20px;
		}

		@media(max-width: 488px) {
			height: calc(100% - 10px);
			margin-bottom: 10px;
		}

		.jq-selectbox__trigger-arrow {
			width: 32px;
			height: 32px;
			background-size: 32px 32px;

			@media(max-width: 488px) {
				width: 22px;
				height: 22px;
				background-size: 22px 22px;				
			}
		}

		.jq-selectbox__select, .jq-selectbox__dropdown {
			@include fz(20);
			font-weight: 500;

			@media(max-width: 488px) {
				@include fz(14);				
			}
		}
	}
}

.socials {
	&-list {
		font-size: 0;
		white-space: nowrap;
	}

	&-item {
		position: relative;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid $border;
		display: inline-block;
		background-color: $bgc;
		cursor: pointer;
		transition: background-color 0.3s;
		flex-shrink: 0;

		@media(max-width: 1366px) {
			width: 42px;
			height: 42px;
		}
  
		&:not(:last-child) {
		  margin-right: 20px;
		}
  
		&:hover {
		  background-color: $primary;
  
		  .socials-icon {
			fill: $bgc;

			&__youtube-bg {
				fill: $bgc;
			}

			&__youtube-btn {
				fill: $primary;
			}
		  }
		}
	  }    
  
	&-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 26px;
		height: 26px;
		fill: $primary;
		transition: fill 0.3s;

		@media(max-width: 1366px) {
			width: 22px;
			height: 22px;
		}

		&__youtube {		
			&-bg {
				fill: $primary;
				transition: fill 0.3s;
			}
	
			&-btn {
				fill: $bgc;
				transition: fill 0.3s;
			}
		}
	}	
}

.ui-nav {
	white-space: nowrap;
	&-item {
		display: block;
		position: relative;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 1px solid $border;
		display: inline-block;
		font-size: 0;

		&.swiper-button-disabled {
			cursor: not-allowed;
			.ui-nav-icon {
				fill: $border;				
			}
		}

		&:not(.swiper-button-disabled):hover {
			border-color: $font;
		}

		&:first-child {
			margin-right: 20px;
		}
	}

	&-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 32px;
		height: 32px;
		fill: $font;

		&__prev {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}
}

.regular {
	font-weight: 400;
}

.color-primary {
	color: $primary;
}

.uppercase {
	text-transform: uppercase;
}

.black-banner {
	filter: grayscale(100%);
	cursor: pointer;
	transition: filter 0.3s;

	&:hover {
		filter: grayscale(0%);
	}
}

.hidden-desktop {
	display: none;
	visibility: hidden;
	opacity: 0;

	@media(max-width: 960px) {
		display: unset;
		visibility: unset;
		opacity: unset;
	}
}

.hidden-mobile {
	@media(max-width: 960px) {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}

.hidden-lg {
	@media(min-width: 1281px) {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}

.hidden-lg-max {
	@media(max-width: 1260px) {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}

.nav-mobile {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin-top: 22px;

	&-icon {
		width: 32px;
		height: 32px;
		display: block;

		&__prev {
			transform: rotate(-180deg);
		}
	}

	&-pagination {
		width: max-content !important;		
		display: flex;			
		align-items: center;

		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			background-color: $border;
			opacity: 1;
			margin-left: 6px !important;
			margin-right: 6px !important;

			&-active {
				background-color: $primary;
			}
		}
	}

	&-choose {
		color: $primary;
		@include ls(-1);
		border-bottom: 2px dotted $primary;
	}
}

.nowrap-mobile {
	@media(max-width: 960px) {
		display: flex;
		white-space: nowrap;
		overflow-x: auto;
		margin-left: -35px;
		margin-right: -35px;
		padding-left: 35px;
		padding-right: 25px;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.no-visible-mobile {
	@media(max-width: 960px) {
		visibility: hidden;
		opacity: 0;
	}	
}