.vi-toggler {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../vi/eye.svg) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin-left: 12px;
	cursor: pointer;
	position: relative;
}
html.vi .vi-toggler:before {
	content: "";
	position: absolute;
	left: -2px;
	right: -2px;
	top: 50%;
	margin-top: -1px;
	height: 2px;
	background: #FFF;
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
}
.f-contacts-items > * {
	margin-bottom: 25px;
}
.f-top {
	padding-bottom: 35px;
}
.search-toogler {
	margin-left: 2px;
}

.vi-start-btn {
	display: inline-block;
	vertical-align: middle;
	/*display: none;*/
	height: 50px;
	line-height: 46px;
	font-size: 18px;
	border: 0;
	padding: 0px 15px 0px 40px;
	font-weight: 700;
	text-align: center;
	border: 2px solid #000;
	cursor: pointer;
	color: #FFF !important;
	position: relative;
}
.vi-start-btn:before {
	content: "";
	position: absolute;
	left: 17px;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	background: url(../images/eye.svg) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.vi-panel {
	display: none;
	visibility: hidden;
	opacity: 0;
	background: #FFF;
	padding: 15px 0 0;
	font-size: 1rem;
	position: relative;
	z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
	border-top: 1px solid $border_grey;
	z-index: 99;
}
.vi-panel.opened {
	display: block;
	visibility: visible;
	opacity: 1;
}
.vi-panel .flex {
	margin-left: -25px;
	margin-right: -25px;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.vi-panel-group {
	padding: 0px 25px;
	margin-bottom: 15px;
	
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	max-width: 30%;

	&:not(:last-of-type) {
		border-right: 1px solid #a7a7a7;
	}

	@media(max-width: 1640px) {
		max-width: none;
	}
}
.vi-group-title {
	font-size: 17px !important;
	/*font-weight: 700;*/
	margin-bottom: 8px;
	color: #000;
	// max-width: 120px;
	line-height: 1.25 !important;
}
.vi-group-btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	display: -ms-flex;
	display: -ms-inline-flexbox;
	display: -ms-flexbox;	
	display: flex;
}
.vi-group-btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	display: -ms-flex;
	display: -ms-inline-flexbox;
	display: -ms-flexbox;	
	display: flex;
}
.vi-group-btns a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	display: -ms-flex;
	display: -ms-inline-flexbox;
	display: -ms-flexbox;	
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
	min-width: 44px;
	height: 44px;
	line-height: 1 !important;
	background: #FFF;
	padding: 0px 8px;
	margin-right: 10px;
	max-width: 88px;
	border: 1px solid #333;
	font-weight: 700;
	color: #000 !important;
	font-size: 16px !important;
	letter-spacing: 0 !important;
	word-break: break-all;
}
.vi-group-btns a:last-child {
	margin-right: 0;
}
.vi-group-btns a.active {
	border-color: #ffe743;
	-webkit-box-shadow: 0px 0px 0px 2px #ffe743;
	box-shadow: 0px 0px 0px 2px #ffe743;
}
a.vi-bg-black {
	background: #000;
	color: #FFF !important;
}
a.vi-bg-brown {
	background: #3b2716;
	color: #a9e44d !important;
}
a.vi-font-plus {
	font-size: 34px !important;
}
a.vi-font-minus {
	position: relative;
}
a.vi-font-minus:after {
	content: "";
	position: absolute;
	height: 4px;
	width: 20px;
	background: #000;
	top: 50%;
	left: 50%;
	margin-top: -2px;
	margin-left: -10px;
}

html.vi-fz-10 {
	font-size: 10px;
}
html.vi-fz-11 {
	font-size: 11px;
}
html.vi-fz-12 {
	font-size: 12px;
}
html.vi-fz-13 {
	font-size: 13px;
}
html.vi-fz-14 {
	font-size: 14px;
}
html.vi-fz-15 {
	font-size: 15px;
}
html.vi-fz-16 {
	font-size: 16px;
}
html.vi-fz-17 {
	font-size: 17px;
}
html.vi-fz-18 {
	font-size: 18px;
}
html.vi-fz-19 {
	font-size: 19px;
}
html.vi-fz-20 {
	font-size: 20px;
}
html.vi-fz-21 {
	font-size: 21px;
}
html.vi-fz-22 {
	font-size: 22px;
}
html.vi-fz-23 {
	font-size: 23px;
}
html.vi-fz-24 {
	font-size: 24px;
}



body.vi-bg-black {
	background: #000;
	color: #FFF;
}

/*
Letter Spasing
*/
html.vi-ls-25,
html.vi-ls-25 * {
	letter-spacing: 0.08em;
}
html.vi-ls-50,
html.vi-ls-50 * {
	letter-spacing: 0.15em;
}


/*
Line Height
*/
html.vi-lh-15,
html.vi-lh-15 * {
	line-height: 1.7;
}
html.vi-lh-2,
html.vi-lh-2 * {
	line-height: 2.2;
}


/*
Images
*/
html.vi img,
html.vi *[style*="background-image: url"] {
	filter: gray;
	-webkit-filter: grayscale(45%);
	-ms-filter: grayscale(45%);
	filter: grayscale(45%);
}

html.vi.vi-img-colored img,
html.vi.vi-img-colored *[style*="background-image: url"] {
	-webkit-filter: none !important;
	-ms-filter: none !important;
	filter: none !important;
}
html.vi-img-gray,
html.vi-img-gray *[style*="background-image: url"] {
	filter: gray;
	-webkit-filter: grayscale(100%) !important;
	-ms-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}
html.vi-img-off img {
	opacity: 0 !important;
	visibility: hidden !important;
}
html.vi-img-off .logo img {
	opacity: 1 !important;
	visibility: visible !important;
}

html.vi-img-off *[style*="background-image: url"] {
	background: #222 !important;
}
html.vi-img-off.vi-bg-brown *[style*="background-image: url"] {
	background: #734a25 !important;
}

html.vi-gray-on {
    filter: grayscale(100%) !important;
}


html.vi-bg-black body,
html.vi-bg-black .page-wrapper,
html.vi-bg-black #middle > .inner,
html.vi-bg-black #container{
	background: #000;
	color: #FFF;
}

html.vi-bg-brown a:not(.ui-btn) {
	color: #efdf4d;
}
html.vi-bg-brown a:not(.ui-btn):hover {
	color: #a9e44d;
	/*text-decoration: underline;*/
}
html.vi-bg-black a:not(.ui-btn, .header-nav > ul > li > ul > li a, .ui-tab) {
	color: #FFF;
}
html.vi-bg-black a:not(.ui-btn, .header-nav > ul > li > ul > li a, .ui-tab):hover {
	color: rgba(255,255,255,0.5);
	/*text-decoration: underline;*/
}
html.vi-bg-brown .ui-btn {
	background: #efdf4d !important;
	border-color: #efdf4d !important;
	color: #3a2716 !important;

	&-icon {
		fill: #3a2716 !important;
	}
}
html.vi-bg-brown .ui-btn:hover {
	background: #a9e44d !important;
	border-color: #a9e44d !important;
}

html.vi-bg-black h1,
html.vi-bg-black h2,
html.vi-bg-black h3,
html.vi-bg-black h4,
html.vi-bg-black h5,
html.vi-bg-black h6,
html.vi-bg-black .h1,
html.vi-bg-black .h2,
html.vi-bg-black .h3,
html.vi-bg-black .h4,
html.vi-bg-black .h5,
html.vi-bg-black .h6 {
	color: #FFF;
}
html.vi-bg-black .block-head .h2,
html.vi-bg-black .block-head h2 {
	background: #000;
}

html.vi-bg-brown body,
html.vi-bg-brown .page-wrapper,
html.vi-bg-brown #middle > .inner,
html.vi-bg-brown #container,
html.vi-bg-brown .header-mid {
	background: #3b2716;
	color: #a9e44d;
}
html.vi-bg-brown h1,
html.vi-bg-brown h2,
html.vi-bg-brown h3,
html.vi-bg-brown h4,
html.vi-bg-brown h5,
html.vi-bg-brown h6,
html.vi-bg-brown .h1,
html.vi-bg-brown .h2,
html.vi-bg-brown .h3,
html.vi-bg-brown .h4,
html.vi-bg-brown .h5,
html.vi-bg-brown .h6 {
	color: #a9e44d;
}
html.vi-bg-brown .block-head .h2,
html.vi-bg-brown .block-head h2 {
	background: #3b2716;
}
html.vi-bg-brown .main-top_category a {
	background: #b48173;
}
html.vi-bg-brown .h-logo:after, 
html.vi-bg-brown .h-weather:after, 
html.vi-bg-brown .h-currency:after,
html.vi-bg-brown .h-holiday:after {
	background: rgba(96, 79, 62, 0.94);
}
html.vi-bg-brown .category-nav ul a.active,
html.vi-bg-brown .category-nav ul a:hover {
	border-bottom-color: #efdf4d;
}
html.vi-bg-brown .category-nav ul a:after {
	border-color: transparent transparent #efdf4d transparent;
}


html.vi [class^="icon-"] {
	display: none;
}

html.vi-bg-brown .select-dashed .jq-selectbox__select,
html.vi-bg-black .select-dashed .jq-selectbox__select {background: none !important; border-bottom-color: rgba(255,255,255,0.35) !important;}
html.vi-bg-brown .select-dashed .jq-selectbox__select {color: #efdf4d;}
html.vi-bg-black .select-dashed .jq-selectbox__select {color: #FFF;}

html.vi-bg-brown .jq-selectbox__select {
    color: #efdf4d;
}
html.vi-bg-brown .jq-selectbox__dropdown {background: #79593c;}
html.vi-bg-brown .jq-selectbox__dropdown ul li {background: #79593c !important; color: #a9e44d ; }
html.vi-bg-brown .jq-selectbox__dropdown ul li:hover,
html.vi-bg-brown .jq-selectbox__dropdown ul li.sel {color: #efdf4d;}
html.vi .jq-selectbox__dropdown ul li:before {content: none;}
html.vi .jq-selectbox__dropdown ul li {padding: 3px 20px !important;}

html.vi-bg-black .jq-selectbox__select {    
    color: #FFF;
}
html.vi-bg-black .jq-selectbox__dropdown {background: #000;}
// html.vi .container ul > li:before,
// html.vi ul.marked > li:before {
// 	content: none;
// }

.vi-bg-black .jq-file__name:before,
.vi-bg-brown .jq-file__name:before {
	-ms-filter: grayscale(100%) brightness(100);
	filter: grayscale(100%) brightness(100);
}
.vi-bg-black .jq-file__name {color: #FFF; border-bottom-color: rgba(255,255,255,0.3);}
.vi-bg-brown .jq-file__name {color: #a9e44d; border-bottom-color: rgba(255,255,255,0.2);}

.vi-bg-black .container thead th,
.vi-bg-black .container thead td,
.vi-bg-black .container table.even-odd tbody tr:nth-of-type(odd),
.vi-bg-black table.even-odd tbody tr:nth-of-type(odd) {
	background: #464545;
}
.vi-bg-black .container table td {border-color: #CCC;}

html.vi .contained-cl-item .circle {width: 54px; height: 54px; line-height: 52px; font-size: 1.2rem;}

.vi-bg-brown .container thead th,
.vi-bg-brown .container thead td,
.vi-bg-brown .container table.even-odd tbody tr:nth-of-type(odd),
.vi-bg-brown table.even-odd tbody tr:nth-of-type(odd) {
	background: #79593c;
}
.vi-bg-brown .container table ,
.vi-bg-brown .container table  {border-color: #654d37;}


.vi-main-group {
	margin-top: 70px;
}
.vi-main-title {
	text-align: center;
}
.vi-main-col {
	width: 500px;
	max-width: 100%;
	text-align: center;
	margin: 15px auto 25px;
	background: #EEE;
	padding: 25px 35px;
	font-size: 1.125rem;
}
.vi-main-col .digits {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
	padding: 8px 0 0px;
}
.vi-main-col .digits.midi {
	font-size: 2.25rem;
}
.vi-bg-black .vi-main-col {
	background: #464545;
}
.vi-bg-brown .vi-main-col {
	background: #79593c;
}

.vi-main {
	display: none;
	visibility: hidden;
	padding-bottom: 40px;
}
.vi-img-off .vi-main {
	display: block;
	visibility: visible;
}

.vi {
	.wrapper {
		padding-bottom: 100px;
	}

	.inner, .container {
		padding-left: 100px;
		padding-right: 100px;
	}

	.ui-tab {
		height: auto;
		line-height: unset;
	}
}


.vi-img-off {
    // body {
    //     color:#000;
    // }
    // a {
    //     color:#000;
    // }
    .services-order-qr,
    .services-order-dash,
    .services-list-item-image,
    .footer-logo,
    .header-logo,
	.news-card-image,
	.post-gallery,
	.video-gallery-banner-image,
	.article-image,
	.managment-card-image {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    
    .services-list-item {
        aspect-ratio: unset;
    }

    .footer-contacts {
        margin-left: unset;
    }



    .services-order-content {
        background-color: unset;        
    }

    .services-order-title {
        color: #000;
    }

    .services-order-text {
        color: #000;
    }	

    // .ui-btn:not(.search-btn, .ui-btn-play) {
    //     border: 2px solid #000;
        
    //     &:hover {
    //         color: $font-white;
    //         background-color: #000;
    //     }
    // }

	.news-card {
		aspect-ratio: unset;
		height: calc(100% - 30px);

		&-text {
			padding-top: 40px;
		}

		&-icon {
			display: none;
		}
	}
	
	.news-card__picture .news-card-title {
		@include fz(30);
		-webkit-line-clamp: 3;
	}

	.news-card-date {
		margin-bottom: 20px;
	}

	.video-gallery {
		&-card {
			border: 1px solid $border_grey;	
		}
	}

	.video-gallery-banner-logo {
		margin-left: 0;
	}

	.ui-btn-youtube {
		border: none;
		color: $font-white;
	}

	.ui-btn-play {		
		border: 1px solid $border_grey;		
	}

	.img-off-hidden {
		visibility: hidden;
        opacity: 0;
        display: none;
	}

	.img-off-wide {
		max-width: 100%;
		flex: 0 0 100%;
	}

	.article-video {

		&-image {
			border: 1px solid $border_grey;
			border-radius: 10px;
		}
		
		&:hover {
			.article-video-play {
				background-color: $font-black;

				.icon {
					fill: $bgc;
				}
			}
		}
	}
}

.vi-gray-on {
	 body {
        color:#000;
    }

    a:not(.reception-contacts-tel, .reception-contacts-mail, .ui-tab, .news-card-title) {
        color:#000;
    }

	.ui-btn:not(.ui-btn-transparent) {
		color: $font-white;
	}

	.railway-web-link a {
		color: $font-white;
	}
}

.vi-bg-black {
    .services-order-content,
    .services-order-dash,
    .services-order-qr,
    .services-order-dash-line {
        background-color: unset;       
    }

    .services-order-dash::before,
    .services-order-dash::after {
        background-color: unset; 
    }


    .services-order-title {
        color: $font-white;
    }

    .services-order-text {
        color: $font-white;
    }

    .ui-btn:not(.ui-btn-youtube) {
        border: 2px solid $bgc;
        color: $font-black;
        
        &:hover {
            color: $font-black;
            background-color: $bgc;
        }
    }

	.ui-btn-transparent {
		color: $font-white !important;

		&:hover {
			color: $font-black !important;
		}
	}

	.ui-btn-youtube {
		&:hover {
			border: 2px solid $bgc;
		}
	}

	.ui-btn-primary {
		background-color: $font-black;
		color: $font-white !important;

		&:hover {
			color: $font-black !important;
		}
	}

	.video-gallery-card {

		&:hover {
			.video-gallery-card-play {
				background-color: $font-black;

				.icon {
					fill: $font-white;
				}
			}			
		}

		&-play {
			.icon {
				fill: $font-black;
			}
		}		
	}

    .header-top-item-text {
        color: $font-white;
    }

    .ui-select__lang .jq-selectbox__dropdown ul {
        background-color: $font-black;
    }

	.header-nav > ul > li {
		color: $font-white !important;
 
		&:hover {
			color: $border_grey !important;	

			&>a {
				color: $border_grey !important;		
			}
		}
	}

    .header-nav > ul > li .icon {
        filter: brightness(10);
    }

	.header-nav > ul > li > ul > li a {		
		&:hover {
			background-color: $border_grey;
		}
	}

    .jq-selectbox__trigger-arrow,
    .services-list-item-image {
        filter: brightness(10);
    }

    .services-list-item-icon {
        fill: $bgc;
    }



	.news-card {
		&:not(.news-card__colored) {
			.news-card-title {
				color: $font-black !important;
			}
		}

		&__colored {
			background-color: $warning;
		}
	}

	.post-other-link {
		color: $font-black !important;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.8;
			background-color: $bgc;
		}
	}

	.ui-tab.active {
		border-color: $bgc;
		background-color: $font-black;
		color: $font-white;
	}

	.article-link-icon,
	.ui-tab-icon {
		stroke: $font-black;
	}

	.article ul:not(.post-side-navigation-list) li::before,
	.post-side-navigation-item.active::before {
		background-color: $font-white;
	}

	.article thead {
		color: $font-white;
	}

	.documents-item-text-icon,
	.documents-item-download-icon,
	.office-addresses-item-icon {
		fill: $font-white;
	}

	.documents-item-download-text	 {
		color: $font-white;
	}

	.reception-card {
		background-color: $warning;
	}

	.ui-input {
		color: $font-white;
	}

	.pagination-nav {
		&:hover {
			border-color: $bgc;
		}
	}

	.pagination-nav-icon {
		fill: $font-white;
	}

	.important-item {
		&__colored {
			background-color: $font-black;
			border: 1px solid $font-white;
		}

		&-warning {
			color: $font-black;
		}

		&-content {
			.ui-btn {
				color: $font-white;

				&:hover {
					.ui-btn-icon {
						fill: $font-black;
					}
				}
			}
		}		
	}

	.ui-nav {
		&-icon {
			fill: $font-white;
		}

		&-item {
			&:hover {
				background-color: $font-white;
				border-color: $font-white;

				.ui-nav-icon {
					fill: $font-black;
				}
			}
		}		
	}

	.actual {
		background-color: $warning;

		&-warning {
			color: $font-black;
		}

		&-read {
			color: $font-white !important;

			&:hover {
				color: $font-black !important;

				.ui-btn-icon {
					fill: $font-black;
				}
			}
		}
	}

	.article-video {	
		&-play {
			background-color: $font-white;
			border-color: $font-white !important;

			.icon {
				fill: $font-black;
			}
		}	
		
		&:hover {
			.article-video-play {
				border-color: $font-white !important;

				.icon {
					fill: $font-white;
				}
			}
		}
	}

	.search-block {
		background-color: $warning;
	}

	.railway-web {
		background-color: $warning;
	}

	.main-order-image {
		filter: brightness(10);
	}
}


.vi-bg-brown {
    .services-order-content,
    .services-order-dash,
    .services-order-qr,
    .services-order-dash-line {
        background-color: unset;       
    }

    .services-order-dash::before,
    .services-order-dash::after {
        background-color: unset; 
    }


    .services-order-title {
        color: #a9e44d;
    }

    .services-order-text {
        color: #efdf4d;
    }

    .ui-btn {
        border: 2px solid #000;
        
        &:hover {
            color: $font-white;
            background-color: #000;
        }
    }

    .header-top-item-text {
        color: #efdf4d;
    }

	.header-nav > ul > li {
       color: $font-yellow !important;

	   &:hover {
			color: $font-green !important;
	   }
    }

    .header-nav > ul > li .icon {
        filter: brightness(10);
    }

	.header-nav > ul > li > ul > li a {
		background-color: $primary_brown_bg;
		&:hover {
			background-color: $primary_brown_light;
		}
	}

    .jq-selectbox__trigger-arrow,
    .services-list-item-image {
        filter: brightness(10);       
    }

    .services-list-item-icon {
        fill: $bgc;
    }

	.news-card {
		background-color: $primary_brown_light;
		&:hover {
			border-color: $primary_green !important;

			a {
				color: $font-green;
			}

			.news-card-date {
				color: $font-green;
			}
		}

		&__colored {
			background-color: $primary_brown_dark;
		}
	}

	.news-card__picture {
		border-color: $primary_yellow;

		.news-card-icon-wrapper {
			background-color: $primary_yellow;
		}
	}	

	.news-card__colored {
		border-color: $primary_yellow;
	}

	.pagination-item-link.active {
		background-color: $primary_brown_light;
		border-color: $font-green;			
	}

	.pagination-nav {
		&:hover {
			border-color: $primary_green;
		}
	}

	.pagination-nav-icon {
		fill: $font-white;
	}

	.post-other-link {
		background-color: $primary_brown_light;

		&:hover {
			background-color: $primary_brown_bg;
		}
	}

	.post-side-share-item {
		&:hover {
			background-color: $primary_brown_bg;	
			border-color: $font-white;
			
			.post-side-share-icon__link {
				fill: $primary_brown_bg;
			}
		}
	}

	.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__badge, .ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__mobile-popup-badge {
		transition: background-color 0.3s, border-color 0.3s !important;
		&:hover {
			background-color: $primary_brown_bg !important;
			border-color: $font-white !important;	
		}
	}

	.article-link-icon,
	.ui-tab-icon {
		stroke: $primary_yellow;
	}

	.article ul:not(.post-side-navigation-list) li::before,
	.post-side-navigation-item.active::before {
		background-color: $primary_yellow;
	}

	.article thead {
		color: $font-yellow;
	}

	.documents-item-text-icon,
	.documents-item-download-icon,
	.office-addresses-item-icon {
		fill: $primary_green;
	}

	.documents-item-download-text {
		color: $font-green;
	}

	.reception-card {
		background-color: $primary_brown_light;
	}

	.ui-input {
		color: $font-yellow;
	}

	.footer-socials-item {
		&:hover {
			background-color: $primary_brown_light;
		}
	}

	.ui-tab {
		background-color: $primary_brown_light;
		border-color: $primary_brown_light;

		&.active {
			color: $font-green;
			background-color: unset;
			border-color: $font-green;
		}
		
		&:hover {
			background-color: $primary_brown_light;
			border-color: $primary_brown_light;
		}
	}

	.contacts-card {

		&-icon {
			fill: $font-green;
		}
		
		&:hover {
			background-color: $primary_brown_bg;
			border-color: $primary_brown_bg;
		}
	}

	.railway {
		&-web {
			background-color: $primary_brown_light;

			&-title {
				color: $font-yellow;
			}

			&-link {
				color: $font-yellow;

				a {
					border-color: $font-yellow;
				}
			}
		}
		
		&-contacts-item-icon {
			fill: $font-yellow;
		}
	}

	.important-item {
		&__colored {
			background-color: $primary_brown_light;
			border: 1px solid $font-white;
		}

		&-warning {
			color: $primary_brown_dark;
		}

		&-content {
			.ui-btn {				
				&-icon {
					fill: $primary_brown_dark;
				}

				&:hover {
					.ui-btn-icon {
						fill: $primary_brown_dark;
					}
				}
			}
		}		
	}

	.ui-nav {
		&-icon {
			fill: $font-white;
		}

		&-item {
			&:hover {
				background-color: $primary_brown_light;
				border-color: $primary_brown_light;
			}
		}		
	}

	.ui-more-link {
		span {
			color: $primary_yellow;
			transition: color 0.3s;
		}

		a {	
			border-bottom-color: $primary_yellow;
		}

		&:hover {
			span {				
				color: $primary_green;
			}

			a {	
				border-bottom-color: $primary_green;
			}
		}
	}

	.article-video {	
		&-play {
			background-color: $primary_yellow;
			border-color: $primary_yellow;

			.icon {
				fill: $primary_brown_light;
			}
		}	
		
		&:hover {
			.article-video-play {
				background-color: $primary_green !important;
				border-color: $primary_green !important;

				.icon {
					fill: $primary_brown;
				}
			}
		}
	}

	.color-primary {
		color: $font-yellow;
	}

	.video-gallery-card {

		&:hover {
			.video-gallery-card-play {
				background-color: $primary_green !important;
				border-color: $primary_green !important;

				.icon {
					fill: $primary_brown;
				}
			}			
		}

		&-play {
			.icon {
				fill: $primary_brown_light;
			}
		}		
	}

	.search-block {
		background-color: $primary_brown_light;
	}

	.main-order-image {
		filter: brightness(10);
	}
}
